# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: iOS Library CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Select Xcode 16.4
        run: sudo xcode-select -s /Applications/Xcode_16.4.app

      - name: Show SDKs (debug)
        run: xcodebuild -showsdks

      # Replace "SwiftRestRequests" with your actual package or scheme name
      - name: Build for iOS Simulator
        run: |
          xcodebuild \
            -scheme SwiftRestRequests \
            -sdk iphonesimulator \
            -destination 'generic/platform=iOS Simulator' \
            -configuration Debug \
            clean build

      - name: Run tests on iPhone simulator
        run: |
          xcodebuild \
            -scheme SwiftRestRequests \
            -sdk iphonesimulator \
            -destination 'platform=iOS Simulator,name=iPhone 16' \
            -configuration Debug \
            test
